locals {
    templateTextRsg = <<EOT
      provider "azurerm" {
          features {}
      }

      module "create-resource-groups" {
          source = "../../../../terraform/example/resourcegroups"
          resource_groups = var.definition["definitions"]    
      }
    EOT  

}

resource "local_file" "filecreator_1" {
  count = "${local.deploy_target == "resourcegroups" ? 1 : 0}" 
  content = "${local.templateTextRsg}"
  filename = "./run/main.tf"
 
}

locals {
    templateTextVNET = <<EOT
      provider "azurerm" {
        features {}
      }

      module "create-virtual-networks" {
          source = "../../../../terraform/example/virtualnetwork"
          virtual_networks = var.definition["definitions"]      
      }
    EOT  

}

resource "local_file" "filecreator_2" {
  count = "${local.deploy_target == "virtualnetworks" ? 1 : 0}" 
  content = "${local.templateTextVNET}"
  filename = "./run/main.tf"
}


locals {
 templateTextSubnets = <<EOT

      provider "azurerm" {
        features {}
      }

      module "create-subnets" {
          source = "../../../../terraform/example/subnets"
          subnets = var.definition["definitions"]      
      }
    EOT  

}


resource "local_file" "filecreator_3" {
  count = "${local.deploy_target == "subnets" ? 1 : 0}" 
  content = "${local.templateTextSubnets}"
  filename = "./run/main.tf"
}



