data "template_file" "resource_resourcegroups" {
  template = "$${templateText}"
  vars = {
    templateText = <<EOT
      module "create-resource-groups" {
          source = "../../../../../prod/templates/baseresources"
          resource_groups_map = "${var.module}"    
          instance_count = "${length ("${var.rsgs_map}")}"
      }
    EOT  
  }
}
